body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace;
  background-color: #f8fafc;   /* optional clean background */
  color: #334155; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1lgbsu2-MuiPickersInputBase-root-MuiPickersOutlinedInput-root {
  font-size: 0.7rem !important;
  min-height: 32px !important;
}